@charset "UTF-8";

/* ベーススタイル */
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'ヒラギノ角ゴ ProN', sans-serif;
  background-color: #fff;
  color: #5e5e5e;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 全体ラッピング */
#wrapper {
  width: 100%;
  margin: 0 auto;
}

/* メインビジュアル */
header.visual {
  width: 100%;
  max-width: 440px;
  height: auto;
  margin: 0 auto 24px;
  margin-bottom: 24px;
}

header.visual img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* タイトル*/
section.summary {
  width: 100%;
  max-width: 440px;
  margin: 0 auto 24px;
}

.ttl {
  width: 90%;
  border-bottom: 8px solid #446E72;
  margin:0 auto 16px 0;
}

h1.ttl_title {
  font-family: serif;
  font-size: 40px;
  padding-bottom: 2px;
  margin: 0;
  margin-left: 16px;
}

.ttl_summary {
  margin: 0 16px;
}

span.font_s{
  font-family: serif;
  font-size: 24px;
}
span.font_l{
  font-family: serif;
  font-size: 32px;
}

/* 知ろう介護エリア */
div.intro {
  width: 100%;
  max-width: 440px;
  height: 280px;
  background-color: #446E72;
  display: flex;
  flex-direction: column;
  text-align:center;
  justify-content: center;
  margin: 0 auto 24px;
  margin-bottom: 24px;
}

.intro img {
  width: 100%;
  max-width: 160px;
  height: auto;
  margin: 24px auto 24px;
}

.intro h2 {
  color: #ffffff;
  font-family: serif;
  font-size: 40px;
  padding: 0;
  margin: 0 auto 24px;
}

/* スライダー */
.slider-area {
  width: 100%;
  max-width: 376px;
  margin: 0 auto 16px;
  position: relative;
}

.slider-box {
  padding: 0;
  box-sizing: border-box;
}

.slick-track {
  display: flex !important;
/*  gap: 32px;  */
}

.slick-slide {
  width: auto !important;
  display: flex !important;
  justify-content: center;
  padding: 0 !important;
  box-sizing: border-box;
}

section.slider-area .slider-box .slider .slider_mrgn{
  margin: 0 16px !important;
}

.slick-slide img {
  width: 100%;
  max-width: 376px;
  height: auto;
  object-fit: cover;
  display: block;
}

/* 矢印（画像） */
.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  z-index: 10;
}

/* インジケーター */
ul.slick-dots {
  text-align: center;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 16px 0 0;
  z-index: 1;
}

.slick-dots li {
  display: inline-block;
  padding: 0;
  margin: 0 8px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #ccc;
}

.slick-dots li.slick-active button:before {
  color: #446E72;
}


/* スライダーの直リンク */
div.carousel-links {
  width: 100%;
  max-width: 440px;
  margin: 0 auto 24px;
}

.grid-list {
  width: 92%;
  max-width: 408px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3列 */
  grid-template-rows: repeat(3, 1fr);   /* 3行 */
  list-style: none;  /* リストスタイルを削除 */
  padding: 0;
  margin: 0 16px;
}

/* 各項目のスタイル (例: border, padding) */
.grid-list li {
  width: 100%;
  max-width: 134px;
  height: 44px;
  background-color: #446E72;
  color: #F7F4EF;
  font-size: 14px;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 44px;
}

/* 体験談エリア */
section.voice {
  width: 100%;
  max-width: 440px;
  background-color: #F7F4EF;
  padding:24px 0;
  margin:0 auto 24px;
  text-align:center;
  justify-content: center;
  box-sizing: border-box;
}

h3 {
  width: 100%;
  font-size: 24px;
  color: #446E72;
  margin: 0 auto 24px;
  text-align: center;
}

span.font_ss {
  font-size: 16px;
  color: #446E72;
}

/* 体験談カード */
div.vcard1 {
  width: 89%;
  max-width: 360px;
  height: auto;
  background-color: #ffffff;
  border: 2px solid #446E72;
  border-radius: 24px;
  text-align: center;
  vertical-align:center;
  padding:14px;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: row;
}

div.vcard2 {
  width: 89%;
  max-width: 360px;
  height: auto;
  background-color: #ffffff;
  border: 2px solid #446E72;
  border-radius: 24px;
  text-align: center;
  vertical-align:center;
  padding:14px;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: row-reverse;
}

.vcard1 img {
  width: 100%;
  max-width: 168px;
  height: auto;
  max-height: 144px;
  float: left;
  margin: 0;
}

.vcard2 img {
  width: 100%;
  max-width: 168px;
  height: auto;
  max-height: 144px;
  float: right;
  margin: 0;
}

.vcard-text1 {
  max-width: 184px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align:top;
  padding: 0 0 0 8px;
  margin: 0;
}

.vcard-text2 {
  max-width: 184px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align:top;
  padding: 0 8px 0 0;
  margin: 0;
}

.vcard-text1 img {
  width: 100%;  
  height: auto;
  text-align: center;
  padding: 0;
  margin:0 auto;
}

.vcard-text2 img {
  width: 100%;  
  height: auto;
  text-align: center;
  padding: 0;
  margin:0 auto;
}

.vcard-ttl {
  font-size: 16px;
  font-weight: bold;
  color: #446E72;
  line-height: 1.6;
  text-align: left;
  padding: 0;
  margin:0 0 8px;
}

.vcard-sttl {
  font-size: 12px;
  color: #5e5e5e;
  text-align: right;
  padding: 0;
  margin:0 0 16px;
}

.vcard1::after, .vcard2::after{
  content: "";
  display: block;
  clear: both;
}

.more-link {
  font-size: 24px;
  color: #446E72;
  text-align: right;
  margin: 0 0 16px;
  padding-right: 24px;
}

.btn-voice {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.btn-voice img {
  width: 89%;
  max-width: 392px;
  height: auto;
}

/* ボタン エリア */
section.banners {
  width: 100%;
  max-width: 408px;
  padding:0;
  margin:0 auto 24px;
  text-align:center;
  justify-content: center;
}

.banner-top {
  width: 96%;
  max-width: 408px;
  padding:0;
  margin:0 auto 16px;
  text-align:center;
}

.banner-top img {
  width: 100%;
  max-width: 408px;
  height: auto;
}

.banner-2bottom {
  width: 96%;
  max-width: 408px;
  font-size: 0; /* これでinline-block間の空白をなくす */
  padding:0;
  margin:0 auto;
  text-align: center;
}

.banner-2bottom img {
  width: 49%;
  height: auto;
  margin: 0 0.5%;
}


/* SNSアイコン エリア */
section.sns {
  width: 100%;
  max-width: 360px;
  padding:0;
  margin:0 auto 24px;
  text-align:center;
  justify-content: center;
}

.sns-icons img {
  width: 100%;
  max-width: 40px;
  margin:0 auto;
}

.sns-icons img {
  padding:0 8px;
}

div.footer {
  width: 100%;
  height: 112px;
  line-height: 112px;
  text-align: center;
  font-size: 14px;
  background-color: #D9D9D9;
  color: #5e5e5e;
}

div.footer p {
  text-align: center;
  font-size: 14px;
  line-height: 1.8;
  color: #000000;
  padding: 16px 0 0;
  margin: 0 ;
}



/* *** 詳細ページ *** */

header.return {
  width: 100%;
  max-width: 408px;
  height: 64px;
  text-align:right;
  line-height: 64px;
  padding:0 16px;
  margin:0 auto;
}

section.q_intro {
  width: 100%;
  max-width: 440px;
  background-color: #F7F4EF;
  padding:0;
  margin:0 auto 40px;
  text-align:center;
  justify-content: center;
}

h1.kaigo_question {
  margin: 0 auto;
}

h1.kaigo_question img {
  width: 100%;
  max-width: 376px;
  height: auto;
  margin: 24px auto;
}

.q_intro_summary {
  width: 100%;
  max-width: 376px;
  font-size: 18px;
  font-weight: bold;
  padding: 0 16px 24px;
  margin: 0 auto;
  line-height: 1.6;
  text-align:left;
}

section.q_chapter {
  width: 100%;
  max-width: 440px;
  margin: 0 auto 40px;
}

div.q_line {
  width: 100%;
  max-width: 440px;
  border-bottom: 4px solid #446E72;
  margin:0 auto;
}

h2.q_ttl {
  font-size: 24px;
  padding-bottom: 2px;
  margin: 0;
  margin-left: 16px;
}

.q_summary {
  padding: 0 16px;
  margin: 24px 0 0;
  line-height: 1.6;
}

ul.q_check_list {
  list-style: none;
  padding-left: 0;
}

ul.q_check_list li {
  position: relative;
  padding-left: 32px;
  margin-bottom: 1em;
}

ul.q_check_list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background-image: url('../img/check_24bgreen.png');
  background-size: contain;
  background-repeat: no-repeat;
}